apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: external-secrets

# 1. Definicja skąd pobrać Operatora (zastępuje stare podejście)
helmCharts:
  - name: external-secrets
    repo: https://charts.external-secrets.io
    version: 1.3.2
    releaseName: external-secrets
    namespace: external-secrets
    valuesFile: values.yaml
    includeCRDs: true

# 2. Dorzucenie Twojej konfiguracji AWS
resources:
  - cluster-secret-store.yaml