apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: myapp-ingress
spec:
  ingressClassName: alb
  rules:
  - http:
      paths:
      - path: /api/hello
        pathType: Prefix
        backend:
          service:
            name: myapp-service
            port:
              number: 80
