apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: myapp
resources:
  - namespace.yaml
  - deployment.yaml
  - service.yaml
images:
  - name: 438950223046.dkr.ecr.eu-central-1.amazonaws.com/dev-myapp
    newTag: "v0.1.4" # <--- TO JEST LINIA, KTÓRĄ BĘDZIE ZMIENIAŁ ARGOCD